# Xcode
build/
DerivedData/
*.moved-aside
*.xcuserstate
*.xcuserdata
project.xcworkspace/xcuserdata
project.xcworkspace/xcshareddata/swiftpm/configuration
CPlanner.xcodeproj/xcuserdata/

# OS X
.DS_Store

# Temporary / Sensitive Files
--*
sk-*
.aider*
